<a href="https://colab.research.google.com/github/Reece323/DS-Unit-2-Applied-Modeling/blob/master/Cody_Reece_Unit2_Sprint_3_ROBOT_CLASSIFICATION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install category_encoders
import category_encoders as ce
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from pandas_profiling import ProfileReport
import pandas_profiling
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score, accuracy_score
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.preprocessing import StandardScaler, PowerTransformer, RobustScaler
from sklearn.compose import TransformedTargetRegressor
from sklearn.pipeline import FeatureUnion, Pipeline, make_pipeline
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, RandomTreesEmbedding
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, validation_curve
from sklearn.cluster import KMeans
%matplotlib inline
import matplotlib.pyplot as plt
from matplotlib import style
from matplotlib.colors import ListedColormap
from sklearn.svm import SVC  
from sklearn.tree import DecisionTreeClassifier, export_graphviz, DecisionTreeRegressor
import graphviz
import itertools
import seaborn as sns
from IPython.display import display, HTML
from sklearn.feature_selection import SelectKBest, chi2, f_regression
import scipy.sparse as sp
from scipy.stats import randint, uniform
from xgboost import XGBClassifier
import category_encoders as ce
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.model_selection import RandomizedSearchCV, cross_validate
from sklearn.linear_model import Ridge
import xgboost as xgb
from __future__ import division
import pandas.util.testing as tm

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 2.5MB/s
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.0.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.16.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
pd.read_csv("/content/Classification of Robots from their conversation sequence.csv")

        source   num1    num2  ...        num8         num9        num10
0            0      2       5  ...           8            1            3
1            1   1747    1749  ...        1774         1783         1785
2            2  65056  195168  ...  6745006080   6745006080   6745006080
3            3   2855    2860  ...        2890         2895         2900
4            4  11440   57200  ...   893750000   4468750000  22343750000
...        ...    ...     ...  ...         ...          ...          ...
499995       0      8       1  ...           4            4            5
499996       1   4882    4886  ...        4912         4920         4924
499997       2  32796   32796  ...   159388560    318777120   2231439840
499998       3   7751    7756  ...        7786         7791         7796
499999       4  27545  137725  ...  2151953125  10759765625  53798828125

[500000 rows x 11 columns]